header {
    width: 100%;
    min-height: 80px;
    background-color: #fff;
}

#headerTopBar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    min-height: 80px;
    padding: 5px 20px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

#headerBottomBar {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 20px;
    min-height: 30px;
    padding: 5px 20px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    background-color: #000;
    width: 100%;
    overflow: hidden; /* Hides the text when it goes out of view */
    white-space: nowrap; /* Prevents the text from wrapping to the next line */
    box-sizing: border-box
}

#logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 1.6;
    font-family: Montserrat;
    gap: 16px;
}

#logo > div {
    border-radius: 50px;
    height: 50px;
    width: 50px;
    background-color: var(--accent-color)
}

.topBarItem {
    display: flex;
}

#cta {
    justify-content: center;
    align-items: center;
}

#cta > div {
    border-radius: 50px;
    width: 150px;
    height: 36px;
    background-color: var(--accent-color);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.tickerContent {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 105%; /* Starts the text completely off-screen to the right */
    animation: scrollingText 23s linear infinite; /* Binds the animation */
    font-weight: 700;
    width: 100vw;
}

@keyframes scrollingText {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-150%);
    }
}

