@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  font-family: Montserrat, sans-serif;
  line-height: 1.6;
  font-weight: 400;
  box-sizing: border-box;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --accent-color: rgb(0, 225, 255);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
    margin: 0;
}