@import url('./../public/style-template.css');

:root {
  font-family: Montserrat, sans-serif;
  line-height: 1.6;
  font-weight: 400;
  box-sizing: border-box;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --accent-color: rgb(0, 225, 255);
}

* {
  box-sizing: border-box;
}

#root {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
    margin: 0;
}

.embed {
  width: 80%;
  height: 600px;
  background-color: #fff;
  border-radius: 20px;
}